body 
{
  font-family: 'Helvetica';
  src: url('assets/font/Helvetica.ttf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  vertical-align: middle;
  
  max-width: 210mm;
  /* height: 297mm; */
  background-color: #dadada;
}

code 
{
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

main
{
  font-size: small;
  background-color: white;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
